.tui-grid-cell-header.tui-grid-cell-selected{
	background-color:#eee !important;
}
.btn-black{
	background-color: 
	black; border-width: 3px; 
	border-color: darkgray;
    --bs-btn-color: #fff;
    --bs-btn-bg: #3b7ddd;
    --bs-btn-border-color: #3b7ddd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #326abc;
    --bs-btn-hover-border-color: #2f64b1;
    --bs-btn-focus-shadow-rgb: 88,145,226;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2f64b1;
    --bs-btn-active-border-color: #2c5ea6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #3b7ddd;
    --bs-btn-disabled-border-color: #3b7ddd;
}
