<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
   <nav class="navbar navbar-expand navbar-light navbar-bg" th:fragment="navbar">
            <a class="sidebar-toggle js-sidebar-toggle">
          <i class="hamburger align-self-center"></i>
        </a>

            <div class="navbar-collapse collapse">
               <ul class="navbar-nav navbar-align">
                  <li class="nav-item dropdown">
                  </li>
               
                  <li class="nav-item dropdown">

                     <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                <img src="img/avatars/avatar.jpg" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> <span class="text-dark"></span>
              </a>
              
                     <div class="dropdown-menu dropdown-menu-end">
                        <div th:if = "${!session.containsKey('otm_email') or session.otm_email == null}"> 
                           <a class="dropdown-item" href="/pages-sign-in">로그인</a>
                           <div class="dropdown-divider"></div>
                        
                           <a class="dropdown-item" href="/pages-sign-up">회원가입</a>
                        </div>
                        

                        <div th:if = "${session.containsKey('otm_email') and session.otm_email != null}"> 
                           <a class="dropdown-item" href="/profile">내 정보</a>
                           <div class="dropdown-divider"></div>
                           <a class="dropdown-item" href="/logout">로그아웃</a>
                        </div>
                        
                  </li>
               </ul>
            </div>
         </nav>
   <script src="js/app.js"></script>
</body>
</html>