<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
   <nav class="sidebar js-sidebar" th:fragment="sidebar">
      <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" href="/index">
          <span class="align-middle">OTM</span>
          <br>
<!--         <span class="align-middle">(Office Task Master)</span>  -->
        <small>(Office Task Master)</small>
        </a>

            <ul class="sidebar-nav">
            <div th:if = "${!session.containsKey('otm_email') or session.otm_email == null}">
               <li class="sidebar-header">
                  Member
               </li>
               <li class="sidebar-item">
                  <a class="sidebar-link" href="/pages-sign-in">
              <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">로그인</span>
            </a>
               </li>
               <li class="sidebar-item">
                  <a class="sidebar-link" href="/pages-sign-up">
              <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">회원가입</span>
            </a>
               </li>
            </div>
            
            <div th:if = "${!session.containsKey('otm_email') or session.otm_email != null}">
               <li class="sidebar-header">
                  Components
               </li>
               <li class="sidebar-item">
                  <a class="sidebar-link" href="/mk-todo">
              <i class="align-middle" data-feather="book"></i> <span class="align-middle">To-Do List</span>
            </a>
               </li>
               
               <li class="sidebar-item">
                  <a class="sidebar-link" href="/pages-blank">
              <i class="align-middle" data-feather="book"></i> <span class="align-middle">TimeLine</span>
            </a>
               </li>
               
               <li class="sidebar-item">
                  <a class="sidebar-link" href="/pages-blank">
              <i class="align-middle" data-feather="book"></i> <span class="align-middle">Calendar Memo</span>
            </a>
               </li>
               <li class="sidebar-header">
                  Member
               </li>
               <li class="sidebar-item">
                  <a class="sidebar-link" href="/profile">
              <i class="align-middle" data-feather="user"></i> <span class="align-middle">내 정보</span>
            </a>
               </li>
               <li class="sidebar-item">
                  <a class="sidebar-link" href="/logout">
              <i class="align-middle" data-feather="log-out"></i> <span class="align-middle">로그아웃</span>
            </a>
               </li>
            </div>
         </div>
   </nav>
</body>
</html>