<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="MemberMapper">

    <select id="selectMember" resultType="com.hanshin.seven.Domain.Member">
        select 
        	name, 
        	emp_num, 
        	dept, 
        	pos, 
        	email, 
        	pwd
        from member
        where 1=1
        <if test="email != null  ">
        	and email = #{email}
        </if>
        <if test="empNum != null and empNum != 0">
        	and emp_num = #{empNum}
        </if>
    </select>

    <select id="selectMemberInfo" resultType="com.hanshin.seven.Domain.Member">
        select 
        	name, 
        	emp_num, 
        	dept, 
        	pos, 
        	email, 
        	pwd
        from member
        where emp_num = #{empNum}
    </select>
    
	<insert id="insertMember" parameterType="com.hanshin.seven.Domain.Member">
		INSERT INTO member 
			VALUES(#{name}, #{empNum}, #{dept}, #{pos}, #{email}, #{pwd})
	</insert>
	
	<select id="findAllMembers" parameterType="com.hanshin.seven.Domain.Member">
		select name, emp_num, dept, pos, email, pwd
        from member
	</select>
	
	<update id="updateMember" parameterType="com.hanshin.seven.Domain.Member">
		UPDATE member SET
			name= #{name},
			dept= #{dept},
			pos= #{pos},
			email= #{email},
			pwd= #{pwd}
		WHERE emp_num = #{empNum}	
	</update>	
	<delete id="deleteMember" parameterType="com.hanshin.seven.Domain.Member">
		DELETE FROM member
		WHERE emp_num = #{empNum}	
	</delete>	
</mapper>
	