<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="TodoMapper">
	<select id="selectTodo" resultType="com.hanshin.seven.Domain.Todo">
        select 
        	task, 
        	senior_name, 
        	senior_dept,
        	junior_name, 
        	junior_dept,
        	startDate, 
        	deadDate, 
        	importance,
        	complete
        from todo
        where junior_name = #{juniorName}
        order by importance DESC, deadDate
        <if test="task != null  ">
        	and task = #{task}
        </if>
        <if test="seniorName != null">
        	and senior_name = #{seniorName}
        </if>
        <if test="startDate != null">
        	and startDate = #{startDate}
        </if>
        <if test="deadDate != null">
        	and deadDate = #{deadDate}
        </if>
        <if test="importance != null and importance != 0">
        	and importance = #{importance}
        </if>
    </select>
    
    <select id="selectTodoInfo" resultType="com.hanshin.seven.Domain.Todo">
        select 
        	todo_id, 
        	senior_name, 
        	senior_dept, 
        	junior_name, 
        	junior_dept, 
        	task,
        	startDate,
        	deadDate,
        	importance,
        	complete
        from todo
        where todo_id = #{todoId}
    </select>
    
	<insert id="insertTodo" parameterType="com.hanshin.seven.Domain.Todo">
		INSERT INTO todo 
			VALUES(#{todoId}, #{seniorName}, #{seniorDept}, #{juniorName}, 
			#{juniorDept}, #{task}, #{startDate}, #{deadDate}, #{importance}, 'N')
	</insert>
	
	<select id="findAllTodo" parameterType="com.hanshin.seven.Domain.Todo">
		select todo_id, 
			   senior_name, 
        	   senior_dept, 
        	   junior_name, 
        	   junior_dept, 
        	   task,
        	   startDate,
        	   deadDate,
        	   importance,
			   complete
        from todo
	</select>
	
	<update id="updateTodo" parameterType="com.hanshin.seven.Domain.Todo">
		UPDATE todo SET
			   todo_id= #{todoId}, 
			   senior_name= #{seniorName}, 
        	   senior_dept= #{seniorDept}, 
        	   junior_name= #{juniorName}, 
        	   junior_dept= #{juniorDept}, 
        	   task= #{task},
        	   startDate= #{startDate},
        	   deadDate= #{deadDate},
        	   importance= #{importance},
        	   complete= #{complete}
		WHERE todo_id = #{todoId}	
	</update>
	
	<delete id="deleteTodo" parameterType="com.hanshin.seven.Domain.Todo">
		DELETE FROM todo
		WHERE todo_id = #{todoId}	
	</delete>
	
</mapper>
	