<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
    <select id="selectMemberInfo" resultType="com.hanshin.seven.Domain.Member">
        select name, email, pwd, dept, pos, emp_num
        from member
        where email = #{email}
    </select>
</mapper>
